body, html {
  width: 95%;
  background-color: darkslategray;
  font-family: Tahoma;
  font-size: large;
}
.active:visited {
  color: gray;
  text-decoration: none;
}
.active:link {
  color: dimgray;
  text-decoration: none;
}
.active:hover {
  color:ghostwhite;
  text-decoration: none;
}
.quote-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.quote-item {
  background-color: cadetblue;
  margin: 15px;
  width: 200px;
  border-bottom: 20px;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
label {
  display: block;
  width: 400px;
}
.spinner {
  margin-top: 100px;
}
