body, html {
  width: 95%;
  background-color: black;
}
.active {
  color: white;
  margin: 50px;
}
.active:visited {
  color: gray;
}
.quote-container {
  display: flex;
  flex-wrap: wrap;
}
.quote-item {
  background-color: cadetblue;
  margin: 10px;
  width: 200px;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
label {
  display: block;
}
.spinner {
  margin-top: 100px;
}
